
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #552323;
    margin: 0;
    ;
}

.calculator {
    background-color: #b1abab;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 260px;
    
}

.display {
    width: 100%;
    height: 50px;
    color: rgb(0, 0, 0);
    text-align: right;
    font-size: 2em;
    border: none;
    background-color:white;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    padding: 20px;
    font-size: 1.5em;
    color: white;

    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color:#552323;
}

button:active {
    background-color: #f0e5e5;
}